@import 'Assets/style.scss';

@include close-modal--big;

.menuItem {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  opacity: 0.8;
  padding: 5px 23px;
  height: 34px;

  &:hover {
    background-color: #F65261;
    cursor: pointer;
  }
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 35, 35, 0.8);
  backdrop-filter: blur(12.2323px);
}

.wrapperContext {
  position: absolute;
  top: 175px;
  left: 50%;
  transform: translateX(-50%);
  width: 976px;
  height: 917px;
  color: #F65261;
  background-color: rgba(35, 35, 35, 1);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.07), 0 10px 20px rgba(0, 0, 0, 0.05), 0 10px 50px rgba(0, 0, 0, 0.05);
  z-index: 5;

  .header {
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    margin: 63px 0 38px 57px;
  }

  .formRow {
    display: flex;
    margin: 0 60px 30px 57px;

    .formItem {
      display: flex;
      flex-direction: column;

      label {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.9px;
        text-transform: uppercase;
        color: #F65261;
        opacity: 0.8;
        margin-bottom: 13px;
      }

      input {
        background: rgba(50, 50, 50, 0.95);
        opacity: 0.8;
        border: 0;
        border-radius: 4px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #fff;
      }

      .inputLeft {
        width: 525px;
        height: 57px;
        margin-right: 30px;
      }

      .inputRight {
        width: 301px;
        height: 57px;
      }

      .inputOverview {
        width: 859px;
        height: 197px;
        border: 0;
        background: rgba(50, 50, 50, 0.95);
        opacity: 0.8;
        border-radius: 4px;
        resize: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
      }

      .errorMessage {
        color: #F65261;
        padding-top: 5px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        opacity: 0.8;
      }
    }
  }

  .formButtons {
    display: flex;
    justify-content: flex-end;
    margin-left: 57px;
    margin-right: 60px;

    input {
      width: 180px;
      height: 57px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
    }

    input[type="submit"] {
      background-color: #F65261;
      border: 0;
      border-radius: 4px;
      color: #FFFFFF;
    }

    input[type="reset"] {
      border: 1px solid #F65261;
      border-radius: 4px;
      color: #F65261;
      background: #232323;
      margin-right: 13px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.07), 0 10px 20px rgba(0, 0, 0, 0.05), 0 10px 50px rgba(0, 0, 0, 0.05);
    }
  }
}